.carousel {
    width: 40%;
}

.carousel-indicators {
    display: none;
}

.cardStyle {
    cursor: pointer;
    margin: 10px;
    background-color: #00000070 !important;
    color: #feffc5 !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion {
    overflow: overlay;
    height: 90%;
}

.suggestion::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.suggestion {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.cardStyle .body {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 30px;
        height: 30px;
    }
}




/************************ Media Queries ****************************/

@media screen and (max-width: 992px) {
    .carousel {
        width: 100%;
    }
    .image{
        height: 50vh;
    }
    .habits{
        width: 100%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .header{
        flex-direction: column;
    }
}